---
layout: home

---
   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Activity
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Activity</span></h1>
         </div>

         <div class="nine columns main-col">
          <div class="row item">
            {% for post in paginator.posts %}
            {% if post.category ==  'act' %}
               <div class="twelve columns">

                  <h3 style='font-weight: bold;'> <a href="{{ post.url }}?show=full">{{ post.title }}</a> </h3>
                  <p class="info"> {{ post.dec }} <span>&bull;</span> <em class="date">{{ post.date | date_to_long_string }}</em></p>
                  <p>
                  {{ post.excerpt }}... <br><a rel="external" href="{{ post.exurl }}">转到博客查看</a>
                  </p>

               </div>
            {% endif %}
            {% endfor %}
          </div>
         </div> <!-- main-col end -->
      </div> <!-- End Education -->


      <!-- Thought Course
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Thought Course</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">
            {% for post in paginator.posts %}
            {% if post.category == 'think' %}
          
               <div class="twelve columns">

                  <h3 style='font-weight: bold;'> <a href="{{ post.url }}?show=full">{{ post.title }}</a> </h3>
                  <p class="info"> {{ post.dec }} <span>&bull;</span> <em class="date">{{ post.date | date_to_long_string }}</em></p>
                  <p>
                  {{ post.excerpt }}... <br><a rel="external" href="{{ post.exurl }}">转到博客查看</a>
                  </p>

               </div>
            {% endif %}
            {% endfor %}

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Thought_course -->  

       <!-- Technical Sharing
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Technical Sharing</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">
            {% for post in paginator.posts %}
            {% if post.category == 'tech' %}
               <div class="twelve columns">

                  <h3 style='font-weight: bold;'> <a href="{{ post.url }}?show=full">{{ post.title }}</a> </h3>
                  <p class="info"> {{ post.dec }} <span>&bull;</span> <em class="date">{{ post.date | date_to_long_string }}</em></p>
                  <p>
                  {{ post.excerpt }}... <br><a rel="external" href="{{ post.exurl }}">转到博客查看</a>
                  </p>

               </div>
            
            {% endif %}
            {% endfor %}
            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Technical Sharing -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
            voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt.
            </p>

        <div class="bars">

           <ul class="skills">
             <li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>
                  <li><span class="bar-expand illustrator"></span><em>Illustrator</em></li>
            <li><span class="bar-expand wordpress"></span><em>Wordpress</em></li>
            <li><span class="bar-expand css"></span><em>CSS</em></li>
            <li><span class="bar-expand html5"></span><em>HTML5</em></li>
                  <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
          </ul>

        </div><!-- end skill-bars -->

      </div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->