 
   <footer>

      <div class="row">

         <div class="twelve columns">
            {% include  social.html class="social-links" %}

            <ul class="copyright">
               <li>&copy; 2014 CeeVee - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></li>
               <li>Design by <a title="Styleshout" href="#">Styleshout</a></li>
               <li>Sponsored by <a rel="nofollow" href="#">A2Hosting</a></li>
               <li>Developed by <a rel="nofollow" href="#">Micheal Liu</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll"  title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer>