<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
   <title>-Personal Website for Micheal Liu</title>
   <meta name="description" content="Personal Website for Micheal Liu ">
   <meta name="author" content="Micheal Liu">

   <!-- Mobile Specific Metas
   ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{{ "/css/default.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/layout.css" | prepend: site.baseurl }}">
   <link rel="stylesheet" href="{{ "/css/media-queries.css" | prepend: site.baseurl }}">
   <link rel="stylesheet" href="{{ "/css/magnific-popup.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/github.min.css">
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
   <!-- Script
   ================================================== -->
  <script src="{{ "/js/modernizr.js" | prepend: site.baseurl }}"></script>
  {% include js.html %}

   <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/image/favicon.png" >

</head>
<!-- <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head> -->
