
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Check Out Some of My Works.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

               <div class="columns portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-01" title="LMix">
                        <img alt="" src="/images/portfolio/lmix.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>LMix</h5>
                             <p>3D体感音乐游戏</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-02" title="Photo Theater">
                        <img alt="" src="/images/portfolio/photoTheater.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>Photo Theater</h5>
                              <p>照片美化存储</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-03" title="Auto Isaac">
                        <img alt="" src="/images/portfolio/autoIsaac.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                             <h5>Auto Isaac</h5>
                             <p>迷之地城AI对战游戏</p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="SudoKu Perfessional">
                        <img alt="" src="http://ww3.sinaimg.cn/large/6f55abb5jw1f1u1bvmzyuj219u19yn3t.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>数独盒子</h5>
                              <p>数独游戏指导辅助工具</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="/images/portfolio/danmu.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>Danmu Slide</h5>
                              <p>支持移动端发送弹幕的幻灯演示系统</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-06" title="">
                        <img alt="" src="images/portfolio/girl.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>Girl</h5>
                              <p>Photography</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-07" title="">
                        <img alt="" src="images/portfolio/origami.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>Origami</h5>
                              <p>Illustrration</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-08" title="">
                        <img alt="" src="images/portfolio/retrocam.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>Retrocam</h5>
                              <p>Web Development</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
              </div>  <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
        --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="/images/portfolio/modals/m-lmix.jpg" alt="LMix" />

          <div class="description-box">
            <h4>LMix</h4>
            <p>核心开发,视音及 CG 算法</p>
            <p>基于 Unity3D(C#)以及新的体感设备 Leap Motion 开发,同时支持键盘或 Kinect。与普通音游不同的
              是,游戏 供了一个 3d 空间而且玩家可以通过体感设备使用触碰和手势触击落键和旋转转盘,同时支 持多种难度, 添加歌曲,自定义谱面信息。该项目目前已在 Github 上开源并最终获得了 Leap Motion 开发大赛
              <a href="https://github.com/liu946/liu946.github.io/raw/master/images/LeapMotionContestSecondPrice.pdf">
                第二名
              </a>
              。
            </p>
               <span class="categories"><i class="fa fa-tag"></i>体感游戏, MUG, Leap Motion, Unity3d, C#</span>
          </div>

            <div class="link-box">
               <a href="http://liu946.github.io/LMixMainPage/" target="_blank">Details</a>
             <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="/images/portfolio/modals/m-photoTheater.jpg" alt="" />

          <div class="description-box">
            <h4>Photo Theater | 照片剧院</h4>
            <p>
              一个云端照片管理网站，用户可以批量上传并管理图片，并通过地理位置，分类，标签，评论，心情，描述对照片进行查找和管理，并对照片进行滤镜添加和人像美化。团队自身开发出了项目中使用的十余种滤镜和美化算法，并提供了合理的图片滤镜运算缓存。因为管理和滤镜添加的便利，本人也在一些个人网站项目中使用这个平台作为图床。
            </p>
               <span class="categories"><i class="fa fa-tag"></i>
                 Python, Django, LBS, 图片美化，人脸识别
               </span>
          </div>

            <div class="link-box">
               <a href="http://se.liuyang.moe" target="_blank">Try</a>
             <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-02 End -->

        <div id="modal-03" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="/images/portfolio/modals/m-autoIsaac.jpg" alt="Auto Isaac" />
          <div class="description-box">
            <h4>Auto Isaac</h4>
            <p>双方玩家通过编写AI进行的地城对战游戏系统，最终因为蜜汁原因暂停了。。。</p>
               <span class="categories"><i class="fa fa-tag"></i>Game, AI, Crafty, JS, Node</span>
          </div>
          <div class="link-box">
            <a href="" target="_blank">Link when finish</a>
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="http://ww4.sinaimg.cn/large/6f55abb5jw1f1u1bxqedfj21k01c2jzt.jpg" alt="SuDoKuDemo" />

          <div class="description-box">
            <h4>数独盒子</h4>
            <p>使用node webkit, 使用排除数独模型, 自动填充</p>
            <p>这个盒子是游戏辅助工具，不是挂。按照人的思维设计，主要治疗游戏时常发的眼残等症状。本人写这个程序的目的是为了玩数独游戏顺便了解一下nw，所以代码写的可能有各种奇葩之处，欢迎交流。</p>
            <span class="categories"><i class="fa fa-tag"></i>node-webkit, OO, Crafty, sudoKu</span>
          </div>

            <div class="link-box">
               <a href="https://github.com/liu946/SudokuProfessional/wiki" target="_blank">Details</a>
             <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="/images/portfolio/modals/m-danmu.jpg" alt="" />

          <div class="description-box">
            <h4>Danmu Slide</h4>
            <p>这是一个网页展示slide + 实时弹幕评论系统。 在展示ppt的同时得到实时反馈，同时也可以用于多人版聊工具、代替微信平台的观众（匿名）提问系统等。</p>
               <span class="categories"><i class="fa fa-tag"></i>NodeJs, Danmu, Express,</span>
          </div>

            <div class="link-box">
               <a href="https://github.com/liu946/danmuSlideServer" target="_blank">Details</a>
             <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="images/portfolio/modals/m-girl.jpg" alt="" />

          <div class="description-box">
            <h4>Girl</h4>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
          </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
             <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-06 End -->

         <div id="modal-07" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="images/portfolio/modals/m-origami.jpg" alt="" />

          <div class="description-box">
            <h4>Origami</h4>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
          </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
             <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-07 End -->

         <div id="modal-08" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="images/portfolio/modals/m-retrocam.jpg" alt="" />

          <div class="description-box">
            <h4>Retrocam</h4>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
          </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
             <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-01 End -->


      </div> <!-- row End -->

   </section> 