          <ul class="{{ include.class }}">
               <li><a href="https://github.com/liu946" target="_Blank"><i class="fa fa-github"></i></a></li>
               <li><a href="http://stackoverflow.com/users/4415259/michael-liu" target="_Blank"><i class="fa fa-stack-overflow"></i></a></li>
               <li><a href="http://user.qzone.qq.com/570926881" target="_Blank"><i class="fa fa-qq"></i></a></li>
               <li><a href="https://www.facebook.com/profile.php?id=100007633666227" target="_Blank"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://plus.google.com/u/0/106505178634050682982/posts" target="_Blank"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="http://cn.linkedin.com/pub/洋-刘/98/678/783/" target="_Blank"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-steam"></i></a></li>
               <li><a href="http://www.cnblogs.com/liu946/"><i class="fa fa-rss"></i></a></li>
               <li><a href="http://www.renren.com/540231269" target="_Blank"><i class="fa fa-renren"></i></a></li>
               <li><a href="callto://liuyang570926881@gmail.com" target="_Blank"><i class="fa fa-skype"></i></a></li>
            </ul>