{% include head.html %}
<body>
{% include header.html %}
  {% include aboutcontact.html %}

  {{ content }}

  <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div> -->
   <!-- Portfolio Section
   ================================================== -->
  {% include Portfolio.html %}
  <!-- Portfolio Section End-->



   <!-- Testimonials Section
   ================================================== -->

   {% include Testimonials.html %}

    <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   {% include contact.html %}
 <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
    {% include footer.html %}
 <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
  {% include js.html %}
</body>

</html>