{% include head.html %}

<body>



  {% include aboutcontact.html %}

   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Activity
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Activity</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>University of Life</h3>
                  <p class="info">Master in Graphic Design <span>&bull;</span> <em class="date">April 2007</em></p>

                  <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                  ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>School of Cool Designers</h3>
                  <p class="info">B.A. Degree in Graphic Design <span>&bull;</span> <em class="date">March 2003</em></p>

                  <p>
                  This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                  nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
                  ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Thought Course
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Thought Course</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3 style='font-weight: bold;'> 不选择也是一种选择 </h3>
                  <p class="info"> 从一个思想实验出发的表述 <span>&bull;</span> <em class="date">January 2015 - Present</em></p>
                  <p>
                  事情的起因是西哲课的一个思想实验，很常说的火车撞人问题。不改变车道5人还是改变车道1人呢？还记得我上课的时候起来回答说是，选择不去改变，因为那一个人是无罪的，是不该死的，不能因为其他人的本不该拥有的利益去干涉一个人本该拥有的利益，即使这个一个人的利益是微不足道的。
                  不知道从什么时候开... <a href="http://user.qzone.qq.com/570926881/blog/1420904204">转到博客查看</a>
                  </p>

               </div>

                          
               <div class="twelve columns">
                  <h3 style='font-weight: bold;'> 格己致知 </h3>
                  <p class="info"> 自省求甚解。为什么做一件事？做一个理性人吗？ <span>&bull;</span> <em class="date">November 30th - 2014 </em></p>
                  <p>
                  哲学、社会学等等非自然科学的发展很多都是不能做出实验的，个人感觉一个人精神层面的提升大都是通过自省得到的。我要说的这种“自省”并不是那种“三省吾身”的自省，而是反省自己的心理活动以及产生原因，我想这是要点及难点，比如自己喜欢一样东西是否可以说的明白喜欢的理由，而不是用“凭感觉”这种话来隐藏内心真实想法。... <a href="http://user.qzone.qq.com/570926881/blog/1417283760">转到博客查看</a>
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Thought_course -->  

       <!-- Technical Sharing
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Technical Sharing</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3 style='font-weight: bold;'> 求最值问题，输入n个整数，输出其中最小的k个元素。 </h3>
                  <p class="info"> 数据结构与算法，排序 <span>&bull;</span> <em class="date">January 2015 - Present</em></p>
                  <p>
                  摘要: 看完两个求最大值算法之后的一些感想。如果想直接看算法的可以跳过。但是我觉得我这些想法还是比较有用的，至少对我将来的算法设计是这样的。算法的功能越强大，必然意味着速度慢，因为根据丛林法则，那种慢又功能少的算法会被淘汰。所以，（注意了！！），如果我们在使用一个算法的时候感觉到它造成的结果满足我们的使用，... <a href="http://www.cnblogs.com/liu946/p/4152334.html">转到博客查看</a>
                  </p>

               </div>

                          
               <div class="twelve columns">
                  <h3 style='font-weight: bold;'> 分析Analytics For Hackers: How To Think About Event Data </h3>
                  <p class="info"> 快速认识NoSQL数据库 <span>&bull;</span> <em class="date">November 30th - 2014 </em></p>
                  <p>
                  摘要: 做了一年的大一年度项目了，对于关系型数据库结构还是有些了解了，有的时候还是觉得这种二维表不是很顺手。在看过一篇文章之后，对NoSQL有了初步的了解，（https://keen.io/blog/53958349217/analytics-for-hackers-how-to-think-about-e... <a href="http://www.cnblogs.com/liu946/p/3932565.html">转到博客查看</a>
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Technical Sharing -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
            voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt.
            </p>

        <div class="bars">

           <ul class="skills">
             <li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>
                  <li><span class="bar-expand illustrator"></span><em>Illustrator</em></li>
            <li><span class="bar-expand wordpress"></span><em>Wordpress</em></li>
            <li><span class="bar-expand css"></span><em>CSS</em></li>
            <li><span class="bar-expand html5"></span><em>HTML5</em></li>
                  <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
          </ul>

        </div><!-- end skill-bars -->

      </div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->

  <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div> -->
   <!-- Portfolio Section
   ================================================== -->
  {{% include Portfolio.html %}}
  <!-- Portfolio Section End-->



   <!-- Testimonials Section
   ================================================== -->

   {{% include Testimonials.html %}}

    <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead"><h3 style='color: #999'>开阔的思路和眼界丰富我们的学识，深入的思考和交流提升我们的境界。<br>交流解决一切争端。</h3>
                  </p>

            </div>

         </div>
               <div class="widget widget_contact" style='margin-left: 20%;width :30%;display:inline-block;'>

                  <h4>Michael Liu</h4>
                   <p class="address">
                     <span>Address：Haerbin Institute of Technology<br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           Haerbin, Heilongjiang  Provence China
                     </span><br>
                     <span>Phone：157 7686 6963</span><br>

               </div>               
               <div style='float:right;display: inline;width :30%;margin-right: 20%'>

             <br>
              <p class="address">
                     <span>QQ   ：570926881</span><br>
                     <span>Mail：<a style='color: #888' href="mailto:liuyang570926881@gmail.com">liuyang570926881@gmail.com</a></span><br>
                     <span>Webset : <a style='color: #888' href="http://liu946.github.io">liu946.github.io</a></span>
                  </p>

           </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://github.com/liu946" target="_Blank"><i class="fa fa-github"></i></a></li>
               <li><a href="http://stackoverflow.com/users/4415259/michael-liu" target="_Blank"><i class="fa fa-stack-overflow"></i></a></li>
               <li><a href="http://user.qzone.qq.com/570926881" target="_Blank"><i class="fa fa-qq"></i></a></li>
               <li><a href="https://www.facebook.com/profile.php?id=100007633666227" target="_Blank"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://plus.google.com/u/0/106505178634050682982/posts" target="_Blank"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="http://cn.linkedin.com/pub/洋-刘/98/678/783/" target="_Blank"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-steam"></i></a></li>
               <li><a href="http://www.renren.com/540231269" target="_Blank"><i class="fa fa-renren"></i></a></li>
               <li><a href="callto://liuyang570926881@gmail.com" target="_Blank"><i class="fa fa-skype"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; 2014 CeeVee - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></li>
               <li>Design by <a title="Styleshout" href="#">Styleshout</a></li>
               <li>Sponsored by <a rel="nofollow" href="#">A2Hosting</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="js/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>