{% include head.html %}
<body>

   <!-- Header
   ================================================== -->
   {% include pageheader.html %}
   <!-- Header End -->

   <!-- Style Guide Section
   ================================================== -->
   <section id="styles" style="padding: 90px 0 72px; background: #fff;">

      <div class="row add-bottom">

         <div id='plaindiv' class="twelve columns">

            <h1 style='font-size: 50px;font-weight: bold;'>{{ page.title }}</h1>
			<div><p class="info" id='nochange' style='margin: 5%;font-size:150%'><i>{{ page.dec }}</i> <span>&bull;</span> <em class="date">{{ page.date | date_to_long_string }}</em></p></div>
			<div style='font-size:120%'>
			{{ content }}
			</div>
            <hr>

         </div>

      </div> <!-- Row End-->

   </section> <!-- Resume Section End-->

{% include footer.html %}

      <!-- Java Script
   ================================================== -->
  
</body>

</html>